body{background-color: #ddd}

main{
    width: 400px;
    margin: 0 auto;
    height: 520px;
    margin-top: 87px;
    background-color: #fff;
    font-family: Cairo;
    font-size: 25px;
}

main #result{height: 110px;}

main #result p{
    color: #C03A26;
    font-size: 45px;
    margin: 10px;
}

main #result .textbox{
    font-size: 25px;
    color: #333
}

main button{
    border-radius: 50%;
    outline: none
}

main button:disabled{color: #555}

main button.equal{
    border-radius: 50px;
    background-color: #E57325;
    color: #fff;
}

main .buttons{
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(5, 60px);
    grid-template-areas: 
    "sin cos tann squar oper"
    "nums nums nums sqrt oper"
    "nums nums nums deg oper"
    "nums nums nums mod oper"
    "nums nums nums equal equal";
    background: linear-gradient(#333, #444);
    height: 380px;
    grid-gap: 20px 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
}

main .buttons .sin{grid-area: sin}
main .buttons .cos{grid-area: cos}
main .buttons .tan{grid-area: tann}
main .buttons .square{grid-area: squar}
main .buttons .sqrt{grid-area: sqrt}
main .buttons .deg{grid-area: deg}
main .buttons .mod{grid-area: mod}
main .buttons .Operators{grid-area: oper}
main .buttons .equal{grid-area: equal}

main .buttons .Numbers{
    grid-area: nums;
    display: grid;
    grid-gap: 20px 10px;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(4, 60px)
}

main .buttons .Operators{
    display: grid;
    grid-template-columns: 63px;
    grid-template-rows: repeat(4, 63px);
    grid-gap: 20px 10px;
}